$themes: (
  default-theme: (
    bg-color: #4351cc,
    bg-color2: #b7cc43
  ),
  dark-theme: (
    bg-color: #fa56fa,
    bg-color2: #cc435a
  )
)!default;

@mixin BgColor($color: null) {
  @each $themename,$theme in $themes {
    [class*='#{$themename}'] & {
      background-color: map-get($map: $theme, $key: if($color != null, $color, 'bg-color'));
    }
  }
}

@mixin TextColor($color: null) {
  @each $themename,$theme in $themes {
    [class*='#{$themename}'] & {
      color: map-get($map: $theme, $key: if($color != null, $color, 'color'));
    }
  }
}