// 应该与 src\editor\common\plugins\toolbar\toolkit\_utils\ColorOptions.ts 对应
$colors:(
'#000000': #ffffff, 
'#FF5A5F': #FF0000,
'#FFA500': #FF8C00,
'#FFD700': #FFFF00,
'#008000': #008000,
'#00CED1': #00FFFF,
'#007FFF': #0000FF,
'#8A2BE2': #8B008B,
'#333333': #f0f0f0,
'#1f1f1f': #ffffff,
'#292929': #f9f9f9,
'#3d3d5c': #e0e7ff,
'#264653': #d1e7dd
);

@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-color="#{''+$source}"] {
    color: #{$target}!important;
  }
}

@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-bgcolor="#{''+$source}"] {
    background-color: #{$target}!important;
  }
}

