.textbus-dropdown-caret {
  // margin-left: 2px;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scale: 1.4;
  transform: translateY(-1px);
  &:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: ease .15s;
  }
}
