[class^="material-"]:before , [class*=" material-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  content: attr(material);
  font-size: inherit;
  color: inherit;
}
/** 查询到类包含该前缀时，就会添加以下样式 */
[class^="material-icons-filled-"], [class*=" material-icons-filled-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-outlined-"], [class*=" material-icons-outlined-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-round-"], [class*=" material-icons-round-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

[class^="material-icons-sharp-"], [class*=" material-icons-sharp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

[class^="material-icons-two-tone-"], [class*=" material-icons-two-tone-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

/* [class^="material-icons-"], [class*=" material-icons-"] {
} */
.material-icons-outlined-sticky_note_2::before {
  content: 'sticky_note_2';
  font-size: 18px;
  line-height: 18px;
  display: block;
  padding-top: 4px;
  opacity: 0.8;
}
