// 应该与 src\editor\common\plugins\toolbar\toolkit\_utils\ColorOptions.ts 对应
$colors:(
'#000000': #ffffff, 
'#FF5A5F': #FF0000,
'#FFA500': #FF8C00,
'#FFD700': #FFFF00,
'#008000': #008000,
'#00CED1': #00FFFF,
'#007FFF': #0000FF,
'#8A2BE2': #8B008B,
);

@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-color="#{''+$source}"] {
    color: #{$target}!important;
  }
}

@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-bgcolor="#{''+$source}"] {
    background-color: #{$target}!important;
  }
}
