// 应该与 src\editor\common\plugins\toolbar\toolkit\_utils\ColorOptions.ts 对应
$colors:(
'#000000': #ffffff, 
'#FF5A5F': #FF0000,
'#FFA500': #FF8C00,
'#FFD700': #FFFF00,
'#008000': #008000,
'#00CED1': #00FFFF,
'#007FFF': #0000FF,
'#8A2BE2': #8B008B,

'#aaaaaa': #555555, //（灰色加深，但仍保持一定的亮度）
'#ff2e2e': #d32f2f, //（红色变暗）
'#ff8d45': #ff6f00, //（橙色变暗）
'#ffdf14': #ffd600, //（黄色变暗）
'#5eec75': #4caf50, //（绿色变暗）
'#5dfaff': #2196f3, //（蓝色变暗）
'#1296db': #0d87e8, //（深蓝色变暗）
'#617fff': #3f51b5, //（紫色变暗）
'#c459ff': #9c27b0, //（紫罗兰色变暗）
'#ffffff': #1e1e1e, //（白色转为深灰色）

'#ef7373': #d32f2f, //（暗红色）
'#ec9c6a': #f57c00, //（暗橙色）
'#dccc64': #fbc02d, //（暗黄色）
'#96e3a3': #43a047, //（暗绿色）
'#a1e2e3': #00bcd4, //（暗青色）
'#90a0e5': #303f9f, //（暗紫色）
'#c596e0': #9c27b0, //（暗紫罗兰色）
);



@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-color="#{''+$source}"] {
    color: #{$target}!important;
  }
}

@each $source, $target in $colors {
  [data-theme="dark-theme"] [data-bgcolor="#{''+$source}"] {
    background-color: #{$target}!important;
  }
}
