@import './color.scss';
[data-theme='dark-theme'] {
  --tb-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --tb-fontWeight: 400;
  --tb-fontWeightStrong: 500;
  --tb-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --tb-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --tb-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --tb-borderRadius: 3px;
  --tb-borderRadiusSmall: 2px;
  --tb-fontSize: 14px;
  --tb-fontSizeMini: 12px;
  --tb-fontSizeTiny: 12px;
  --tb-fontSizeSmall: 14px;
  --tb-fontSizeMedium: 14px;
  --tb-fontSizeLarge: 15px;
  --tb-fontSizeHuge: 16px;
  --tb-lineHeight: 1.6;
  --tb-heightMini: 16px;
  --tb-heightTiny: 22px;
  --tb-heightSmall: 28px;
  --tb-heightMedium: 34px;
  --tb-heightLarge: 40px;
  --tb-heightHuge: 46px;
  --tb-baseColor: #000;
  --tb-primaryColor: #63e2b7;
  --tb-primaryColorHover: #7fe7c4;
  --tb-primaryColorPressed: #5acea7;
  --tb-primaryColorSuppl: rgb(42, 148, 125);
  --tb-infoColor: #70c0e8;
  --tb-infoColorHover: #8acbec;
  --tb-infoColorPressed: #66afd3;
  --tb-infoColorSuppl: rgb(56, 137, 197);
  --tb-successColor: #63e2b7;
  --tb-successColorHover: #7fe7c4;
  --tb-successColorPressed: #5acea7;
  --tb-successColorSuppl: rgb(42, 148, 125);
  --tb-warningColor: #f2c97d;
  --tb-warningColorHover: #f5d599;
  --tb-warningColorPressed: #e6c260;
  --tb-warningColorSuppl: rgb(240, 138, 0);
  --tb-errorColor: #e88080;
  --tb-errorColorHover: #e98b8b;
  --tb-errorColorPressed: #e57272;
  --tb-errorColorSuppl: rgb(208, 58, 82);
  --tb-textColorBase: #fff;
  --tb-textColor1: rgba(255, 255, 255, 0.9);
  --tb-textColor2: rgba(255, 255, 255, 0.82);
  --tb-textColor3: rgba(255, 255, 255, 0.52);
  --tb-textColorDisabled: rgba(255, 255, 255, 0.38);
  --tb-placeholderColor: rgba(255, 255, 255, 0.38);
  --tb-placeholderColorDisabled: rgba(255, 255, 255, 0.28);
  --tb-iconColor: rgba(255, 255, 255, 0.38);
  --tb-iconColorDisabled: rgba(255, 255, 255, 0.28);
  --tb-iconColorHover: rgba(255, 255, 255, 0.475);
  --tb-iconColorPressed: rgba(255, 255, 255, 0.30400000000000005);
  --tb-opacity1: 0.9;
  --tb-opacity2: 0.82;
  --tb-opacity3: 0.52;
  --tb-opacity4: 0.38;
  --tb-opacity5: 0.28;
  --tb-dividerColor: rgba(255, 255, 255, 0.09);
  --tb-borderColor: rgba(255, 255, 255, 0.24);
  --tb-closeIconColorHover: rgba(255, 255, 255, 0.52);
  --tb-closeIconColor: rgba(255, 255, 255, 0.52);
  --tb-closeIconColorPressed: rgba(255, 255, 255, 0.52);
  --tb-closeColorHover: rgba(255, 255, 255, .12);
  --tb-closeColorPressed: rgba(255, 255, 255, .08);
  --tb-clearColor: rgba(255, 255, 255, 0.38);
  --tb-clearColorHover: rgba(255, 255, 255, 0.48);
  --tb-clearColorPressed: rgba(255, 255, 255, 0.3);
  --tb-scrollbarColor: rgba(255, 255, 255, 0.2);
  --tb-scrollbarColorHover: rgba(255, 255, 255, 0.3);
  --tb-scrollbarWidth: 5px;
  --tb-scrollbarHeight: 5px;
  --tb-scrollbarBorderRadius: 5px;
  --tb-progressRailColor: rgba(255, 255, 255, 0.12);
  --tb-railColor: rgba(255, 255, 255, 0.2);
  --tb-popoverColor: rgb(72, 72, 78);
  --tb-tableColor: rgb(24, 24, 28);
  --tb-cardColor: rgb(24, 24, 28);
  --tb-modalColor: rgb(44, 44, 50);
  --tb-bodyColor: rgb(16, 16, 20);
  --tb-tagColor: rgba(51, 51, 51, 1);
  --tb-avatarColor: rgba(255, 255, 255, 0.18);
  --tb-invertedColor: #000;
  --tb-inputColor: rgba(255, 255, 255, 0.1);
  --tb-codeColor: rgba(255, 255, 255, 0.12);
  --tb-tabColor: rgba(255, 255, 255, 0.04);
  --tb-actionColor: rgba(255, 255, 255, 0.06);
  --tb-tableHeaderColor: rgba(255, 255, 255, 0.06);
  --tb-hoverColor: rgba(255, 255, 255, 0.09);
  --tb-tableColorHover: rgba(255, 255, 255, 0.06);
  --tb-tableColorStriped: rgba(255, 255, 255, 0.05);
  --tb-pressedColor: rgba(255, 255, 255, 0.05);
  --tb-opacityDisabled: 0.38;
  --tb-inputColorDisabled: rgba(255, 255, 255, 0.06);
  --tb-buttonColor2: rgba(255, 255, 255, .08);
  --tb-buttonColor2Hover: rgba(255, 255, 255, .12);
  --tb-buttonColor2Pressed: rgba(255, 255, 255, .08);
  --tb-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .24), 0 3px 6px 0 rgba(0, 0, 0, .18), 0 5px 12px 4px rgba(0, 0, 0, .12);
  --tb-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .24), 0 6px 12px 0 rgba(0, 0, 0, .16), 0 9px 18px 8px rgba(0, 0, 0, .10);
  --tb-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
  --tb-boxShadow4: 1px 2px 3px #{$dark-opacity-1};
  // 新增
  --tb-preBgColor: #1c2838;
  --tb-preTextColor: #a9aeb2;
  --tb-preBorderColor: #353535;
  --tb-preSideBgColor: #2d3a48;
  --tb-preSideBorderColor: #292929;
  --tb-preHighlightBgColor: #263140;
  --tb-preEmphasizeBgColor: #1c2838;
}