[data-theme='light-theme'] {
  --tb-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --tb-fontWeight: 400;
  --tb-fontWeightStrong: 500;
  --tb-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --tb-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --tb-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --tb-borderRadius: 3px;
  --tb-borderRadiusSmall: 2px;
  --tb-fontSize: 14px;
  --tb-fontSizeMini: 12px;
  --tb-fontSizeTiny: 12px;
  --tb-fontSizeSmall: 14px;
  --tb-fontSizeMedium: 14px;
  --tb-fontSizeLarge: 15px;
  --tb-fontSizeHuge: 16px;
  --tb-lineHeight: 1.6;
  --tb-heightMini: 16px;
  --tb-heightTiny: 22px;
  --tb-heightSmall: 28px;
  --tb-heightMedium: 34px;
  --tb-heightLarge: 40px;
  --tb-heightHuge: 46px;
  --tb-baseColor: #FFF;
  --tb-primaryColor: #18a058;
  --tb-primaryColorHover: #36ad6a;
  --tb-primaryColorPressed: #0c7a43;
  --tb-primaryColorSuppl: #36ad6a;
  --tb-infoColor: #2080f0;
  --tb-infoColorHover: #4098fc;
  --tb-infoColorPressed: #1060c9;
  --tb-infoColorSuppl: #4098fc;
  --tb-successColor: #18a058;
  --tb-successColorHover: #36ad6a;
  --tb-successColorPressed: #0c7a43;
  --tb-successColorSuppl: #36ad6a;
  --tb-warningColor: #f0a020;
  --tb-warningColorHover: #fcb040;
  --tb-warningColorPressed: #c97c10;
  --tb-warningColorSuppl: #fcb040;
  --tb-errorColor: #d03050;
  --tb-errorColorHover: #de576d;
  --tb-errorColorPressed: #ab1f3f;
  --tb-errorColorSuppl: #de576d;
  --tb-textColorBase: #000;
  --tb-textColor1: rgb(31, 34, 37);
  --tb-textColor2: rgb(51, 54, 57);
  --tb-textColor3: rgb(118, 124, 130);
  --tb-textColorDisabled: rgba(194, 194, 194, 1);
  --tb-placeholderColor: rgba(194, 194, 194, 1);
  --tb-placeholderColorDisabled: rgba(209, 209, 209, 1);
  --tb-iconColor: rgba(194, 194, 194, 1);
  --tb-iconColorHover: rgba(146, 146, 146, 1);
  --tb-iconColorPressed: rgba(175, 175, 175, 1);
  --tb-iconColorDisabled: rgba(209, 209, 209, 1);
  --tb-opacity1: 0.82;
  --tb-opacity2: 0.72;
  --tb-opacity3: 0.38;
  --tb-opacity4: 0.24;
  --tb-opacity5: 0.18;
  --tb-dividerColor: rgb(239, 239, 245);
  --tb-borderColor: rgb(224, 224, 230);
  --tb-closeIconColor: rgba(102, 102, 102, 1);
  --tb-closeIconColorHover: rgba(102, 102, 102, 1);
  --tb-closeIconColorPressed: rgba(102, 102, 102, 1);
  --tb-closeColorHover: rgba(0, 0, 0, .09);
  --tb-closeColorPressed: rgba(0, 0, 0, .13);
  --tb-clearColor: rgba(194, 194, 194, 1);
  --tb-clearColorHover: rgba(146, 146, 146, 1);
  --tb-clearColorPressed: rgba(175, 175, 175, 1);
  --tb-scrollbarColor: rgba(0, 0, 0, 0.25);
  --tb-scrollbarColorHover: rgba(0, 0, 0, 0.4);
  --tb-scrollbarWidth: 5px;
  --tb-scrollbarHeight: 5px;
  --tb-scrollbarBorderRadius: 5px;
  --tb-progressRailColor: rgba(235, 235, 235, 1);
  --tb-railColor: rgb(219, 219, 223);
  --tb-popoverColor: #fff;
  --tb-tableColor: #fff;
  --tb-cardColor: #fff;
  --tb-modalColor: #fff;
  --tb-bodyColor: #fff;
  --tb-tagColor: #eee;
  --tb-avatarColor: rgba(204, 204, 204, 1);
  --tb-invertedColor: rgb(0, 20, 40);
  --tb-inputColor: rgba(255, 255, 255, 1);
  --tb-codeColor: rgb(244, 244, 248);
  --tb-tabColor: rgb(247, 247, 250);
  --tb-actionColor: rgb(250, 250, 252);
  --tb-tableHeaderColor: rgb(250, 250, 252);
  --tb-hoverColor: rgb(243, 243, 245);
  --tb-tableColorHover: rgba(0, 0, 100, 0.03);
  --tb-tableColorStriped: rgba(0, 0, 100, 0.02);
  --tb-pressedColor: rgb(237, 237, 239);
  --tb-opacityDisabled: 0.5;
  --tb-inputColorDisabled: rgb(250, 250, 252);
  --tb-buttonColor2: rgba(46, 51, 56, .05);
  --tb-buttonColor2Hover: rgba(46, 51, 56, .09);
  --tb-buttonColor2Pressed: rgba(46, 51, 56, .13);
  --tb-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .08), 0 3px 6px 0 rgba(0, 0, 0, .06), 0 5px 12px 4px rgba(0, 0, 0, .04);
  --tb-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  --tb-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
  --tb-boxShadow4: 1px 2px 3px rgba(0, 0, 0, 0.18);
  // 新增
  --tb-preBgColor: #fefefe;
  --tb-preTextColor: inherit;
  --tb-preBorderColor: #efefef;
  --tb-preSideBgColor: #f9f9f9;
  --tb-preSideBorderColor: #efefef;
  --tb-preHighlightBgColor: #eee;
  --tb-preEmphasizeBgColor: #fefefe;

  --tb-codeBgColor: #fefefe;
  --tb-codeBorderColor: rgba(0, 0, 0, 0.08);
  --tb-codeTextColor: inherit;

  --tb-blockquoteBgColor: #f8f8f9;
  --tb-blockquoteBorderColor: #dddee1;

  --tb-wordExplainBgColor: #f8f8f9;
  --tb-wordExplainDetailBorderColor: #ddd;

  --tb-jumbotronBgColor: #eee;

  --tb-imgBorderColor: rgba(0, 0, 0, 0.788);

  --tb-imgCardBoxShadow: 1px 2px 3px rgba(0, 0, 0, .1);
}