@import './base/index.scss';
@import './toolbar/index.scss';
@import './skins/index.scss';
@import './components/index.scss';

.anime-box {
  outline: 1px dashed #aaaaaa30;
}

.anime-img {
  display: inline-block;
}

.anime-component-box {
  display: block;
  outline: 1px dashed #aaaaaa30;
}