/* 重写 pre 样式 */

/* auto */
.tb-pre[data-theme=auto] .tb-pre-content {
  color: var(--tb-preTextColor);
  background-color: var(--tb-preBgColor);
  border-color: var(--tb-preBorderColor);
}
.tb-pre[data-theme=auto] .tb-code-line-number-bg {
  background-color: var(--tb-preSideBgColor);
  border-right-color: var(--tb-preSideBorderColor);
}
.tb-pre[data-theme=auto] .tb-color-content-highlight {
  background-color: var(--tb-preHighlightBgColor);
}
.tb-pre[data-theme=auto] .tb-color-content-highlight .tb-code-line-emphasize {
  opacity: 1;
  background-color: var(--tb-preEmphasizeBgColor);
}

/* dark */
.tb-pre[data-theme=dark] .tb-pre-content {
  color: #a9aeb2;
  background-color: #1c2838;
  border-color: #353535;
}
.tb-pre[data-theme=dark] .tb-code-line-number-bg {
  background-color: #2d3a48;
  border-right-color: #292929;
}
.tb-pre[data-theme=dark] .tb-color-content-highlight {
  background-color: #263140;
}
.tb-pre[data-theme=dark] .tb-color-content-highlight .tb-code-line-emphasize {
  opacity: 1;
  background-color: #1c2838;
}

/* light */
.tb-pre[data-theme=light] .tb-pre-content {
  background-color: #fefefe;
  color: #1f2225;
}


.tb-pre {
  background-color: unset!important;
}