@charset "UTF-8";@keyframes rotate-fa07a37b {
100% {
    transform: rotate(360deg);
}
}
.rotate[data-v-fa07a37b] {
  display: block;
  animation: 5s rotate-fa07a37b infinite linear;
  animation-duration: var(--799daff1);
}
.icon[data-v-fa07a37b] {
  color: inherit;
  font-size: inherit;
}
.icon[data-v-fa07a37b]::before {
  line-height: 1.1;
}
.editor-outline[data-v-36195bfe] {
  width: 200px;
  transition: top 0.2s ease-in-out;
  overflow-x: hidden;
}
.editor-outline-container[data-v-36195bfe] {
  width: 100%;
  max-height: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.outline-heading-text[data-v-36195bfe] {
  color: var(--644940c3);
}
.outline-heading-text[data-v-36195bfe]:hover {
  color: var(--644940c2);
}
.active[data-v-36195bfe] {
  color: var(--644940c2);
}
.outline-heading-item[data-v-36195bfe] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}

/** 标题大小 */
.outline-heading-h1[data-v-36195bfe] {
  line-height: 2;
  padding-left: 0em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outline-heading-h2[data-v-36195bfe] {
  line-height: 2;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outline-heading-h3[data-v-36195bfe] {
  line-height: 2;
  padding-left: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outline-heading-h4[data-v-36195bfe] {
  line-height: 2;
  padding-left: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outline-heading-h5[data-v-36195bfe] {
  line-height: 2;
  padding-left: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outline-heading-h6[data-v-36195bfe] {
  line-height: 2;
  padding-left: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expand-state[data-v-a8c9101a] {
  background-color: var(--019e76d0);
}
.expand-btn[data-v-a8c9101a] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 34px;
  margin-left: 12px;
  border-radius: 3px;
  cursor: pointer;
}
.expand-btn[data-v-a8c9101a]:hover {
  background-color: var(--019e76d0);
}
.custom-toolbar[data-v-a8c9101a] {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 6px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--6e73c027);
}

/** 工具组之间的间距 */
[data-v-a8c9101a] .group-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0px 0 12px;
}
[data-v-a8c9101a] .group-wrapper:first-child {
  margin-left: 0px;
}
.toolbar-collapse-wrapper[data-v-a8c9101a] {
  z-index: 100;
  position: absolute;
  padding: 6px 6px;
  top: 48px;
  right: 0;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--6e73c027);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.toolbar-keymap-prompt[data-v-a8c9101a] {
  position: absolute;
  right: 0;
  margin: 6px;
}@keyframes rotate-4c19d330 {
100% {
    transform: rotate(360deg);
}
}
.rotate[data-v-4c19d330] {
  display: block;
  animation: 5s rotate-4c19d330 infinite linear;
  animation-duration: var(--5ac93d6d);
}
.icon[data-v-4c19d330] {
  color: inherit;
  font-size: inherit;
}
.icon[data-v-4c19d330]::before {
  line-height: 1.1;
}.button-tool[data-v-67365e0f] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}
.button-tool[data-v-67365e0f]:hover {
  background-color: var(--4f3a66c2);
}
.label[data-v-67365e0f] {
  margin: 0 8px;
}
[data-v-67365e0f] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}
.active[data-v-67365e0f] {
  background-color: var(--15a30028);
}.trigger[data-v-8ff3c500] {
  min-height: 34px;
}
.dropdown-tool[data-v-8ff3c500] {
  display: flex;
}
.dropdown-icon[data-v-8ff3c500] {
  margin-right: 4px;
}
.dropdown-caret[data-v-8ff3c500] {
  transition: all 0.15s ease-in-out;
}
[data-v-8ff3c500] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}.disabled[data-v-f4522a75] {
  opacity: var(--tb-opacityDisabled) !important;
  cursor: not-allowed !important;
}
.trigger[data-v-f4522a75] {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  box-sizing: border-box;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
}
.trigger[data-v-f4522a75]:hover {
  background-color: var(--f9a55398);
}
.trigger .popover-left-btn[data-v-f4522a75] {
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  padding: 2px 4px;
}
.trigger .popover-right-btn[data-v-f4522a75] {
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  padding: 2px;
}
.trigger .popover-caret[data-v-f4522a75] {
  transition: all 0.15s ease-in-out;
}
.trigger .active[data-v-f4522a75] {
  transform: rotate(180deg);
}
.wrapper[data-v-f4522a75] {
  display: flex;
  flex-direction: column;
}
[data-v-f4522a75] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}.select-tool[data-v-52755c35] {
  display: flex;
  min-height: 34px;
}
.mini[data-v-52755c35] .n-button__content {
  width: 80px;
  max-width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selector[data-v-52755c35] {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 3px 0 6px;
  border-radius: 3px;
}
.selector[data-v-52755c35]:hover {
  background-color: var(--eef520be);
}
.selector .selector-icon[data-v-52755c35] {
  margin-right: 4px;
}
.selector .selector-caret[data-v-52755c35] {
  transition: all 0.15s ease-in-out;
}
.selector .active[data-v-52755c35] {
  transform: rotate(180deg);
}
.selector[data-v-52755c35] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}
.disabled[data-v-1e884f56] {
  opacity: var(--tb-opacityDisabled) !important;
  cursor: not-allowed !important;
}
.trigger[data-v-1e884f56] {
  display: flex;
  flex-direction: row;
  min-height: 34px;
  box-sizing: border-box;
}
.trigger:hover .selector-left-btn[data-v-1e884f56] {
  background-color: var(--249df3d2);
}
.trigger:hover .selector-right-btn[data-v-1e884f56] {
  background-color: var(--249df3d2);
}
.trigger .selector-left-btn[data-v-1e884f56] {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 2px 4px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.trigger .selector-left-btn[data-v-1e884f56]:hover {
  background-color: var(--616d0965);
}
.trigger .selector-right-btn[data-v-1e884f56] {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.trigger .selector-right-btn[data-v-1e884f56]:hover {
  background-color: var(--616d0965);
}
.trigger .selector-caret[data-v-1e884f56] {
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}
.trigger .active[data-v-1e884f56] {
  transform: rotate(180deg);
}
.wrapper[data-v-1e884f56] {
  width: 215px;
}
.wrapper .default-color[data-v-1e884f56] {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 3px;
  margin: 0 0 6px 0;
}
.wrapper .default-color .clear-icon[data-v-1e884f56] {
  margin-left: 6px;
  margin-right: 6px;
  height: 14px;
  width: 14px;
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
}
.wrapper .default-color .clear-icon[data-v-1e884f56]:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  width: 20px;
  height: 1px;
  background-color: rgba(232, 232, 232, 0.6784313725);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wrapper .list[data-v-1e884f56] {
  box-sizing: border-box;
  padding: 6px;
}
.wrapper .color-block[data-v-1e884f56] {
  display: inline-block;
  height: 17px;
  width: 17px;
  margin: 3px;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
  cursor: pointer;
  transition: transform 0.1s;
  /** popover 弹出的内容接收不到 themeVars */
}
.wrapper .color-block[data-v-1e884f56]:hover {
  transform: scale(1.1);
}
.wrapper .using[data-v-1e884f56] {
  border: 1px solid #000000;
}
.segment-dropdown-tool[data-v-1e884f56] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.segment-dropdown-tool[data-v-1e884f56] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}.button-tool[data-v-44a7b693] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}
.button-tool[data-v-44a7b693]:hover {
  background-color: var(--13003670);
}
.label[data-v-44a7b693] {
  margin: 0 8px;
}
[data-v-44a7b693] .n-button {
  --n-text-color-hover: none !important;
  --n-text-color-pressed: none !important;
  --n-text-color-focus: none !important;
}
.active[data-v-44a7b693] {
  background-color: var(--018114ae);
}.image-form[data-v-02529d5b] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
}.image-form[data-v-e7521551] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
}
.textbus-toolbar-table-quick-selector[data-v-e7521551] {
  overflow: hidden;
  padding-left: 1px;
  padding-top: 1px;
  width: 163px;
  box-sizing: content-box;
  cursor: pointer;
  margin-bottom: 15px;
}
.textbus-toolbar-table-quick-selector[data-v-e7521551] div {
  width: 15px;
  height: 11px;
  box-sizing: content-box;
  border: 1px solid var(--tb-borderColor);
  background: var(--tb-baseColor);
  float: left;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
}
.textbus-toolbar-table-quick-selector[data-v-e7521551] div.textbus-toolbar-table-quick-selector-selected {
  background-color: rgba(18, 150, 219, 0.2);
  border-color: rgb(18, 150, 219);
  z-index: 1;
}.link-form[data-v-8b1ace09] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
}.emoji-form[data-v-e7e4010c] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 6px;
  box-sizing: border-box;
  overflow: hidden;
}
.textbus-toolbar-emoji-menu[data-v-e7e4010c] {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 300px;
  padding: 10px 5px;
  text-align: left;
}
.textbus-toolbar-emoji-menu-item[data-v-e7e4010c] {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  padding: 2px;
  box-sizing: border-box;
  width: 30px;
  line-height: 1.2;
  user-select: none;
}
.textbus-toolbar-emoji-menu-item[data-v-e7e4010c]:hover {
  background-color: var(--tb-buttonColor2Hover);
  border-radius: 3px;
}.card[data-v-c98218a3] {
  display: inline-block;
  margin: 5px 10px;
}
.content[data-v-c98218a3] {
  cursor: pointer;
  transition: scale 0.1s ease-in-out;
}
.content[data-v-c98218a3]:hover {
  scale: 1.2;
}
.name[data-v-c98218a3] {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}.list[data-v-23281a6c] {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}.temp-dialog[data-v-dae8b87e] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-dialog .temp-dialog-container[data-v-dae8b87e] {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 3333;
}
.temp-dialog .temp-dialog-mask[data-v-dae8b87e] {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 2000;
}.textbus-toolbar-h1 {
  font-size: 2em;
  font-weight: bold;
}
.textbus-toolbar-h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.textbus-toolbar-h3 {
  font-size: 1.17em;
  font-weight: bold;
}
.textbus-toolbar-h4 {
  font-size: 1em;
  font-weight: bold;
}
.textbus-toolbar-h5 {
  font-size: 0.83em;
  font-weight: bold;
}
.textbus-toolbar-h6 {
  font-size: 0.67em;
  font-weight: bold;
}
.textbus-toolbar-font-size-inherit {
  opacity: 0.7;
}
.textbus-toolbar-font-size-12 {
  line-height: 1.2;
  font-size: 12px;
}
.textbus-toolbar-font-size-13 {
  line-height: 1.2;
  font-size: 13px;
}
.textbus-toolbar-font-size-14 {
  line-height: 1.2;
  font-size: 14px;
}
.textbus-toolbar-font-size-15 {
  line-height: 1.2;
  font-size: 15px;
}
.textbus-toolbar-font-size-16 {
  line-height: 1.2;
  font-size: 16px;
}
.textbus-toolbar-font-size-18 {
  line-height: 1.2;
  font-size: 18px;
}
.textbus-toolbar-font-size-20 {
  line-height: 1.2;
  font-size: 20px;
}
.textbus-toolbar-font-size-24 {
  line-height: 1.2;
  font-size: 24px;
}
.textbus-toolbar-font-size-36 {
  line-height: 1.2;
  font-size: 36px;
}
.textbus-toolbar-font-size-48 {
  line-height: 1.2;
  font-size: 48px;
}
.textbus-toolbar-text-align-left {
  text-align: left;
}
.textbus-toolbar-text-align-right {
  text-align: right;
}
.textbus-toolbar-text-align-center {
  text-align: center;
}
.textbus-toolbar-text-align-justify {
  text-align: justify;
}
.textbus-dropdown-caret {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  scale: 1.4;
  transform: translateY(-1px);
}
.textbus-dropdown-caret:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: ease 0.15s;
}
.textbus-toolbar-line-height-inherit {
  opacity: 0.7;
}
.textbus-toolbar-line-height-1:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 1em;
  width: 9px;
  height: 1em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-1_2:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 1.2em;
  width: 9px;
  height: 1.2em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-1_4:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 1.4em;
  width: 9px;
  height: 1.4em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-1_6:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 1.6em;
  width: 9px;
  height: 1.6em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-1_8:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 1.8em;
  width: 9px;
  height: 1.8em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-2:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 2em;
  width: 9px;
  height: 2em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-3:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 3em;
  width: 9px;
  height: 3em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
.textbus-toolbar-line-height-4:before {
  content: "";
  margin-right: 10px;
  margin-left: -10px;
  line-height: 4em;
  width: 9px;
  height: 4em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  border-width: 1px 0;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0.3) 5px, rgba(0, 0, 0, 0) 5px);
}
[data-theme=dark-theme] {
  --tb-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --tb-fontWeight: 400;
  --tb-fontWeightStrong: 500;
  --tb-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --tb-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --tb-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --tb-borderRadius: 3px;
  --tb-borderRadiusSmall: 2px;
  --tb-fontSize: 14px;
  --tb-fontSizeMini: 12px;
  --tb-fontSizeTiny: 12px;
  --tb-fontSizeSmall: 14px;
  --tb-fontSizeMedium: 14px;
  --tb-fontSizeLarge: 15px;
  --tb-fontSizeHuge: 16px;
  --tb-lineHeight: 1.6;
  --tb-heightMini: 16px;
  --tb-heightTiny: 22px;
  --tb-heightSmall: 28px;
  --tb-heightMedium: 34px;
  --tb-heightLarge: 40px;
  --tb-heightHuge: 46px;
  --tb-baseColor: #000;
  --tb-primaryColor: #63e2b7;
  --tb-primaryColorHover: #7fe7c4;
  --tb-primaryColorPressed: #5acea7;
  --tb-primaryColorSuppl: rgb(42, 148, 125);
  --tb-infoColor: #70c0e8;
  --tb-infoColorHover: #8acbec;
  --tb-infoColorPressed: #66afd3;
  --tb-infoColorSuppl: rgb(56, 137, 197);
  --tb-successColor: #63e2b7;
  --tb-successColorHover: #7fe7c4;
  --tb-successColorPressed: #5acea7;
  --tb-successColorSuppl: rgb(42, 148, 125);
  --tb-warningColor: #f2c97d;
  --tb-warningColorHover: #f5d599;
  --tb-warningColorPressed: #e6c260;
  --tb-warningColorSuppl: rgb(240, 138, 0);
  --tb-errorColor: #e88080;
  --tb-errorColorHover: #e98b8b;
  --tb-errorColorPressed: #e57272;
  --tb-errorColorSuppl: rgb(208, 58, 82);
  --tb-textColorBase: #fff;
  --tb-textColor1: rgba(255, 255, 255, 0.9);
  --tb-textColor2: rgba(255, 255, 255, 0.82);
  --tb-textColor3: rgba(255, 255, 255, 0.52);
  --tb-textColorDisabled: rgba(255, 255, 255, 0.38);
  --tb-placeholderColor: rgba(255, 255, 255, 0.38);
  --tb-placeholderColorDisabled: rgba(255, 255, 255, 0.28);
  --tb-iconColor: rgba(255, 255, 255, 0.38);
  --tb-iconColorDisabled: rgba(255, 255, 255, 0.28);
  --tb-iconColorHover: rgba(255, 255, 255, 0.475);
  --tb-iconColorPressed: rgba(255, 255, 255, 0.30400000000000005);
  --tb-opacity1: 0.9;
  --tb-opacity2: 0.82;
  --tb-opacity3: 0.52;
  --tb-opacity4: 0.38;
  --tb-opacity5: 0.28;
  --tb-dividerColor: rgba(255, 255, 255, 0.09);
  --tb-borderColor: rgba(255, 255, 255, 0.24);
  --tb-closeIconColorHover: rgba(255, 255, 255, 0.52);
  --tb-closeIconColor: rgba(255, 255, 255, 0.52);
  --tb-closeIconColorPressed: rgba(255, 255, 255, 0.52);
  --tb-closeColorHover: rgba(255, 255, 255, .12);
  --tb-closeColorPressed: rgba(255, 255, 255, .08);
  --tb-clearColor: rgba(255, 255, 255, 0.38);
  --tb-clearColorHover: rgba(255, 255, 255, 0.48);
  --tb-clearColorPressed: rgba(255, 255, 255, 0.3);
  --tb-scrollbarColor: rgba(255, 255, 255, 0.2);
  --tb-scrollbarColorHover: rgba(255, 255, 255, 0.3);
  --tb-scrollbarWidth: 5px;
  --tb-scrollbarHeight: 5px;
  --tb-scrollbarBorderRadius: 5px;
  --tb-progressRailColor: rgba(255, 255, 255, 0.12);
  --tb-railColor: rgba(255, 255, 255, 0.2);
  --tb-popoverColor: rgb(72, 72, 78);
  --tb-tableColor: rgb(24, 24, 28);
  --tb-cardColor: rgb(24, 24, 28);
  --tb-modalColor: rgb(44, 44, 50);
  --tb-bodyColor: rgb(16, 16, 20);
  --tb-tagColor: rgba(51, 51, 51, 1);
  --tb-avatarColor: rgba(255, 255, 255, 0.18);
  --tb-invertedColor: #000;
  --tb-inputColor: rgba(255, 255, 255, 0.1);
  --tb-codeColor: rgba(255, 255, 255, 0.12);
  --tb-tabColor: rgba(255, 255, 255, 0.04);
  --tb-actionColor: rgba(255, 255, 255, 0.06);
  --tb-tableHeaderColor: rgba(255, 255, 255, 0.06);
  --tb-hoverColor: rgba(255, 255, 255, 0.09);
  --tb-tableColorHover: rgba(255, 255, 255, 0.06);
  --tb-tableColorStriped: rgba(255, 255, 255, 0.05);
  --tb-pressedColor: rgba(255, 255, 255, 0.05);
  --tb-opacityDisabled: 0.38;
  --tb-inputColorDisabled: rgba(255, 255, 255, 0.06);
  --tb-buttonColor2: rgba(255, 255, 255, .08);
  --tb-buttonColor2Hover: rgba(255, 255, 255, .12);
  --tb-buttonColor2Pressed: rgba(255, 255, 255, .08);
  --tb-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .24), 0 3px 6px 0 rgba(0, 0, 0, .18), 0 5px 12px 4px rgba(0, 0, 0, .12);
  --tb-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .24), 0 6px 12px 0 rgba(0, 0, 0, .16), 0 9px 18px 8px rgba(0, 0, 0, .10);
  --tb-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
  --tb-boxShadow4: 1px 2px 3px rgba(247, 248, 250, 0.08);
  --tb-preBgColor: #1c2838;
  --tb-preTextColor: #a9aeb2;
  --tb-preBorderColor: #353535;
  --tb-preSideBgColor: #2d3a48;
  --tb-preSideBorderColor: #292929;
  --tb-preHighlightBgColor: #263140;
  --tb-preEmphasizeBgColor: #1c2838;
}
[data-theme=light-theme] {
  --tb-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --tb-fontWeight: 400;
  --tb-fontWeightStrong: 500;
  --tb-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --tb-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --tb-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --tb-borderRadius: 3px;
  --tb-borderRadiusSmall: 2px;
  --tb-fontSize: 14px;
  --tb-fontSizeMini: 12px;
  --tb-fontSizeTiny: 12px;
  --tb-fontSizeSmall: 14px;
  --tb-fontSizeMedium: 14px;
  --tb-fontSizeLarge: 15px;
  --tb-fontSizeHuge: 16px;
  --tb-lineHeight: 1.6;
  --tb-heightMini: 16px;
  --tb-heightTiny: 22px;
  --tb-heightSmall: 28px;
  --tb-heightMedium: 34px;
  --tb-heightLarge: 40px;
  --tb-heightHuge: 46px;
  --tb-baseColor: #FFF;
  --tb-primaryColor: #18a058;
  --tb-primaryColorHover: #36ad6a;
  --tb-primaryColorPressed: #0c7a43;
  --tb-primaryColorSuppl: #36ad6a;
  --tb-infoColor: #2080f0;
  --tb-infoColorHover: #4098fc;
  --tb-infoColorPressed: #1060c9;
  --tb-infoColorSuppl: #4098fc;
  --tb-successColor: #18a058;
  --tb-successColorHover: #36ad6a;
  --tb-successColorPressed: #0c7a43;
  --tb-successColorSuppl: #36ad6a;
  --tb-warningColor: #f0a020;
  --tb-warningColorHover: #fcb040;
  --tb-warningColorPressed: #c97c10;
  --tb-warningColorSuppl: #fcb040;
  --tb-errorColor: #d03050;
  --tb-errorColorHover: #de576d;
  --tb-errorColorPressed: #ab1f3f;
  --tb-errorColorSuppl: #de576d;
  --tb-textColorBase: #000;
  --tb-textColor1: rgb(31, 34, 37);
  --tb-textColor2: rgb(51, 54, 57);
  --tb-textColor3: rgb(118, 124, 130);
  --tb-textColorDisabled: rgba(194, 194, 194, 1);
  --tb-placeholderColor: rgba(194, 194, 194, 1);
  --tb-placeholderColorDisabled: rgba(209, 209, 209, 1);
  --tb-iconColor: rgba(194, 194, 194, 1);
  --tb-iconColorHover: rgba(146, 146, 146, 1);
  --tb-iconColorPressed: rgba(175, 175, 175, 1);
  --tb-iconColorDisabled: rgba(209, 209, 209, 1);
  --tb-opacity1: 0.82;
  --tb-opacity2: 0.72;
  --tb-opacity3: 0.38;
  --tb-opacity4: 0.24;
  --tb-opacity5: 0.18;
  --tb-dividerColor: rgb(239, 239, 245);
  --tb-borderColor: rgb(224, 224, 230);
  --tb-closeIconColor: rgba(102, 102, 102, 1);
  --tb-closeIconColorHover: rgba(102, 102, 102, 1);
  --tb-closeIconColorPressed: rgba(102, 102, 102, 1);
  --tb-closeColorHover: rgba(0, 0, 0, .09);
  --tb-closeColorPressed: rgba(0, 0, 0, .13);
  --tb-clearColor: rgba(194, 194, 194, 1);
  --tb-clearColorHover: rgba(146, 146, 146, 1);
  --tb-clearColorPressed: rgba(175, 175, 175, 1);
  --tb-scrollbarColor: rgba(0, 0, 0, 0.25);
  --tb-scrollbarColorHover: rgba(0, 0, 0, 0.4);
  --tb-scrollbarWidth: 5px;
  --tb-scrollbarHeight: 5px;
  --tb-scrollbarBorderRadius: 5px;
  --tb-progressRailColor: rgba(235, 235, 235, 1);
  --tb-railColor: rgb(219, 219, 223);
  --tb-popoverColor: #fff;
  --tb-tableColor: #fff;
  --tb-cardColor: #fff;
  --tb-modalColor: #fff;
  --tb-bodyColor: #fff;
  --tb-tagColor: #eee;
  --tb-avatarColor: rgba(204, 204, 204, 1);
  --tb-invertedColor: rgb(0, 20, 40);
  --tb-inputColor: rgba(255, 255, 255, 1);
  --tb-codeColor: rgb(244, 244, 248);
  --tb-tabColor: rgb(247, 247, 250);
  --tb-actionColor: rgb(250, 250, 252);
  --tb-tableHeaderColor: rgb(250, 250, 252);
  --tb-hoverColor: rgb(243, 243, 245);
  --tb-tableColorHover: rgba(0, 0, 100, 0.03);
  --tb-tableColorStriped: rgba(0, 0, 100, 0.02);
  --tb-pressedColor: rgb(237, 237, 239);
  --tb-opacityDisabled: 0.5;
  --tb-inputColorDisabled: rgb(250, 250, 252);
  --tb-buttonColor2: rgba(46, 51, 56, .05);
  --tb-buttonColor2Hover: rgba(46, 51, 56, .09);
  --tb-buttonColor2Pressed: rgba(46, 51, 56, .13);
  --tb-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .08), 0 3px 6px 0 rgba(0, 0, 0, .06), 0 5px 12px 4px rgba(0, 0, 0, .04);
  --tb-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  --tb-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
  --tb-boxShadow4: 1px 2px 3px rgba(0, 0, 0, 0.18);
  --tb-preBgColor: #fefefe;
  --tb-preTextColor: inherit;
  --tb-preBorderColor: #efefef;
  --tb-preSideBgColor: #f9f9f9;
  --tb-preSideBorderColor: #efefef;
  --tb-preHighlightBgColor: #eee;
  --tb-preEmphasizeBgColor: #fefefe;
}
[data-theme=dark-theme] [data-color="#000000"] {
  color: #ffffff !important;
}
[data-theme=dark-theme] [data-color="#FF5A5F"] {
  color: #FF0000 !important;
}
[data-theme=dark-theme] [data-color="#FFA500"] {
  color: #FF8C00 !important;
}
[data-theme=dark-theme] [data-color="#FFD700"] {
  color: #FFFF00 !important;
}
[data-theme=dark-theme] [data-color="#008000"] {
  color: #008000 !important;
}
[data-theme=dark-theme] [data-color="#00CED1"] {
  color: #00FFFF !important;
}
[data-theme=dark-theme] [data-color="#007FFF"] {
  color: #0000FF !important;
}
[data-theme=dark-theme] [data-color="#8A2BE2"] {
  color: #8B008B !important;
}
[data-theme=dark-theme] [data-bgcolor="#000000"] {
  background-color: #ffffff !important;
}
[data-theme=dark-theme] [data-bgcolor="#FF5A5F"] {
  background-color: #FF0000 !important;
}
[data-theme=dark-theme] [data-bgcolor="#FFA500"] {
  background-color: #FF8C00 !important;
}
[data-theme=dark-theme] [data-bgcolor="#FFD700"] {
  background-color: #FFFF00 !important;
}
[data-theme=dark-theme] [data-bgcolor="#008000"] {
  background-color: #008000 !important;
}
[data-theme=dark-theme] [data-bgcolor="#00CED1"] {
  background-color: #00FFFF !important;
}
[data-theme=dark-theme] [data-bgcolor="#007FFF"] {
  background-color: #0000FF !important;
}
[data-theme=dark-theme] [data-bgcolor="#8A2BE2"] {
  background-color: #8B008B !important;
}[class^="material-"]:before , [class*=" material-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  content: attr(material);
  font-size: inherit;
  color: inherit;
}
/** 查询到类包含该前缀时，就会添加以下样式 */
[class^="material-icons-filled-"], [class*=" material-icons-filled-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-outlined-"], [class*=" material-icons-outlined-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-round-"], [class*=" material-icons-round-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-sharp-"], [class*=" material-icons-sharp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Sharp";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
[class^="material-icons-two-tone-"], [class*=" material-icons-two-tone-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Material Icons Two Tone";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}
/* [class^="material-icons-"], [class*=" material-icons-"] {
} */
/* .material-icons-cloud::before {
  content: 'cloud';
} */.disabled[data-v-1ccc9bc2] {
  opacity: var(--tb-opacityDisabled) !important;
  cursor: not-allowed !important;
}
.segment-popover-tool[data-v-1ccc9bc2] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trigger[data-v-1ccc9bc2] {
  display: flex;
  flex-direction: row;
  color: var(--tb-textColor1);
  min-height: 34px;
  box-sizing: border-box;
}
.trigger:hover .selector-left-btn[data-v-1ccc9bc2] {
  background-color: var(--tb-buttonColor2Hover);
}
.trigger:hover .selector-right-btn[data-v-1ccc9bc2] {
  background-color: var(--tb-buttonColor2Hover);
}
.trigger .selector-left-btn[data-v-1ccc9bc2] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 2px 4px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  word-break: keep-all;
  cursor: pointer;
}
.trigger .selector-left-btn[data-v-1ccc9bc2]:hover {
  background-color: var(--tb-buttonColor2Hover);
}
.trigger .selector-right-btn[data-v-1ccc9bc2] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 2px;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.trigger .selector-right-btn[data-v-1ccc9bc2]:hover {
  background-color: var(--tb-buttonColor2Hover);
}
.trigger .selector-caret[data-v-1ccc9bc2] {
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}
.trigger .active[data-v-1ccc9bc2] {
  transform: rotate(180deg);
}
.content[data-v-1ccc9bc2] {
  width: 345px;
}
.content .list[data-v-1ccc9bc2] {
  box-sizing: border-box;
  padding: 6px;
}
.content .option[data-v-1ccc9bc2] {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
  cursor: pointer;
  transition: transform 0.1s;
}
.content .option[data-v-1ccc9bc2]:hover {
  transform: scale(1.1);
}
.content .using[data-v-1ccc9bc2] {
  background-color: var(--tb-buttonColor2Hover);
}
.content .lock[data-v-1ccc9bc2] {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  cursor: pointer;
}
.inline-toolbar[data-v-12ced4d8] {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 6px 6px;
  border-radius: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--3ff33d7c);
}

/** 工具组之间的间距 */
[data-v-12ced4d8] .group-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 0px 0 12px;
}
[data-v-12ced4d8] .group-wrapper:first-child {
  margin-left: 0px;
}.content[data-v-4e1849e8] {
  max-width: 325px;
  padding: 6px;
  border-radius: 6px;
}
.content .option[data-v-4e1849e8] {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
  cursor: pointer;
  transition: transform 0.1s;
}
.content .option[data-v-4e1849e8]:hover {
  transform: scale(1.1);
}
.content .option .option-label[data-v-4e1849e8] {
  color: var(--tb-textColor1);
}
.tool[data-v-4e1849e8] {
  position: absolute;
  user-select: none;
  right: 84px;
  top: -32px;
}
.tool .tool-btn[data-v-4e1849e8] {
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  word-break: keep-all;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--tb-textColor1);
  background-color: var(--tb-buttonColor2);
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.tool .tool-btn[data-v-4e1849e8]:active {
  background-color: var(--tb-buttonColor2Pressed);
}
.tool .tool-btn .trigger[data-v-4e1849e8] {
  display: flex;
  flex-direction: row;
}
.tool .tool-btn .trigger .caret[data-v-4e1849e8] {
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  transform: rotate(-90deg);
}
.tool .tool-btn .trigger .active[data-v-4e1849e8] {
  transform: rotate(90deg);
}
.tool .left-btn[data-v-4e1849e8] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 6px 12px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  word-break: keep-all;
  overflow: hidden;
  cursor: pointer;
}
.tool .left-btn[data-v-4e1849e8]:hover {
  background-color: var(--tb-buttonColor2Hover);
}
.tool .right-btn[data-v-4e1849e8] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 3px;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.tool .right-btn[data-v-4e1849e8]:hover {
  background-color: var(--tb-buttonColor2Hover);
}.controller[data-v-4f71b30d] {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 96px;
  border-radius: 3px;
  border: 1px solid var(--tb-dividerColor);
  box-sizing: border-box;
}
.controller .dragger[data-v-4f71b30d] {
  height: 18px;
  background-color: var(--tb-cardColor);
  cursor: move;
}
.controller .tools[data-v-4f71b30d] {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 6px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}
.controller .tools[data-v-4f71b30d]:hover {
  opacity: 1;
}.button-tool[data-v-9b9feecc] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}
.button-tool[data-v-9b9feecc]:hover {
  background-color: var(--cf5c1654);
}
.label[data-v-9b9feecc] {
  margin: 0 8px;
}
.active[data-v-9b9feecc] {
  background-color: var(--770f593c);
}.effect-options[data-v-1f0fa8c6] {
  width: 345px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.effect-options .effect-options-list[data-v-1f0fa8c6] {
  padding: 10px;
}
.option[data-v-1f0fa8c6] {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
  cursor: pointer;
  transition: transform 0.1s;
}
.option[data-v-1f0fa8c6]:hover {
  transform: scale(1.1);
}
.option .option-label[data-v-1f0fa8c6] {
  color: var(--tb-textColor1);
}.content[data-v-a4aba4e4] {
  max-width: 325px;
  padding: 6px;
  border-radius: 6px;
}
.content .option[data-v-a4aba4e4] {
  display: inline-block;
  margin: 3px;
  padding: 3px;
  border-radius: 3px 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.6784313725);
  cursor: pointer;
  transition: transform 0.1s;
}
.content .option[data-v-a4aba4e4]:hover {
  transform: scale(1.1);
}
.content .option .option-label[data-v-a4aba4e4] {
  color: var(--tb-textColor1);
}
.tool[data-v-a4aba4e4] {
  position: absolute;
  user-select: none;
  right: 84px;
  top: -32px;
}
.tool .tool-btn[data-v-a4aba4e4] {
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  word-break: keep-all;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--tb-textColor1);
  background-color: var(--tb-buttonColor2);
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}
.tool .tool-btn[data-v-a4aba4e4]:active {
  background-color: var(--tb-buttonColor2Pressed);
}
.tool .tool-btn .trigger[data-v-a4aba4e4] {
  display: flex;
  flex-direction: row;
}
.tool .tool-btn .trigger .caret[data-v-a4aba4e4] {
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  transform: rotate(-90deg);
}
.tool .tool-btn .trigger .active[data-v-a4aba4e4] {
  transform: rotate(90deg);
}
.tool .left-btn[data-v-a4aba4e4] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 6px 12px;
  box-sizing: border-box;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  word-break: keep-all;
  overflow: hidden;
  cursor: pointer;
}
.tool .left-btn[data-v-a4aba4e4]:hover {
  background-color: var(--tb-buttonColor2Hover);
}
.tool .right-btn[data-v-a4aba4e4] {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0 3px;
  box-sizing: border-box;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.tool .right-btn[data-v-a4aba4e4]:hover {
  background-color: var(--tb-buttonColor2Hover);
}.button-tool[data-v-f49885b6] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 34px;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}
.button-tool[data-v-f49885b6]:hover {
  background-color: var(--269d3ea4);
}
.label[data-v-f49885b6] {
  margin: 0 8px;
}
.active[data-v-f49885b6] {
  background-color: var(--31432f14);
}.wrapper[data-v-54315ef5] {
  position: relative;
}
.fixed[data-v-54315ef5] {
  position: fixed;
}
.controller[data-v-54315ef5] {
  max-width: 48px;
  border-radius: 3px;
  border: 1px solid var(--tb-dividerColor);
  background-color: var(--tb-cardColor);
  box-sizing: border-box;
  animation: fadeInRight 0.1s ease-in-out;
}
.controller .dragger[data-v-54315ef5] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  background-color: var(--tb-modalColor);
  cursor: move;
}
.controller .dragger[data-v-54315ef5]:hover {
  background-color: var(--tb-buttonColor2Hover);
}
.controller .footer[data-v-54315ef5] {
  height: 18px;
  background-color: var(--tb-modalColor);
}
.controller .tools[data-v-54315ef5] {
  box-sizing: border-box;
  padding: 6px;
}