.root-page[data-theme='dark-theme'] {
  --dpz-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --dpz-fontWeight: 400;
  --dpz-fontWeightStrong: 500;
  --dpz-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --dpz-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --dpz-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --dpz-borderRadius: 3px;
  --dpz-borderRadiusSmall: 2px;
  --dpz-fontSize: 14px;
  --dpz-fontSizeMini: 12px;
  --dpz-fontSizeTiny: 12px;
  --dpz-fontSizeSmall: 14px;
  --dpz-fontSizeMedium: 14px;
  --dpz-fontSizeLarge: 15px;
  --dpz-fontSizeHuge: 16px;
  --dpz-lineHeight: 1.6;
  --dpz-heightMini: 16px;
  --dpz-heightTiny: 22px;
  --dpz-heightSmall: 28px;
  --dpz-heightMedium: 34px;
  --dpz-heightLarge: 40px;
  --dpz-heightHuge: 46px;
  --dpz-baseColor: #000;
  --dpz-primaryColor: #63e2b7;
  --dpz-primaryColorHover: #7fe7c4;
  --dpz-primaryColorPressed: #5acea7;
  --dpz-primaryColorSuppl: rgb(42, 148, 125);
  --dpz-infoColor: #70c0e8;
  --dpz-infoColorHover: #8acbec;
  --dpz-infoColorPressed: #66afd3;
  --dpz-infoColorSuppl: rgb(56, 137, 197);
  --dpz-successColor: #63e2b7;
  --dpz-successColorHover: #7fe7c4;
  --dpz-successColorPressed: #5acea7;
  --dpz-successColorSuppl: rgb(42, 148, 125);
  --dpz-warningColor: #f2c97d;
  --dpz-warningColorHover: #f5d599;
  --dpz-warningColorPressed: #e6c260;
  --dpz-warningColorSuppl: rgb(240, 138, 0);
  --dpz-errorColor: #e88080;
  --dpz-errorColorHover: #e98b8b;
  --dpz-errorColorPressed: #e57272;
  --dpz-errorColorSuppl: rgb(208, 58, 82);
  --dpz-textColorBase: #fff;
  --dpz-textColor1: rgba(255, 255, 255, 0.9);
  --dpz-textColor2: rgba(255, 255, 255, 0.82);
  --dpz-textColor3: rgba(255, 255, 255, 0.52);
  --dpz-textColorDisabled: rgba(255, 255, 255, 0.38);
  --dpz-placeholderColor: rgba(255, 255, 255, 0.38);
  --dpz-placeholderColorDisabled: rgba(255, 255, 255, 0.28);
  --dpz-iconColor: rgba(255, 255, 255, 0.38);
  --dpz-iconColorDisabled: rgba(255, 255, 255, 0.28);
  --dpz-iconColorHover: rgba(255, 255, 255, 0.475);
  --dpz-iconColorPressed: rgba(255, 255, 255, 0.30400000000000005);
  --dpz-opacity1: 0.9;
  --dpz-opacity2: 0.82;
  --dpz-opacity3: 0.52;
  --dpz-opacity4: 0.38;
  --dpz-opacity5: 0.28;
  --dpz-dividerColor: rgb(44, 44, 44);
  --dpz-borderColor: rgba(255, 255, 255, 0.24);
  --dpz-closeIconColorHover: rgba(255, 255, 255, 0.52);
  --dpz-closeIconColor: rgba(255, 255, 255, 0.52);
  --dpz-closeIconColorPressed: rgba(255, 255, 255, 0.52);
  --dpz-closeColorHover: rgba(255, 255, 255, .12);
  --dpz-closeColorPressed: rgba(255, 255, 255, .08);
  --dpz-clearColor: rgba(255, 255, 255, 0.38);
  --dpz-clearColorHover: rgba(255, 255, 255, 0.48);
  --dpz-clearColorPressed: rgba(255, 255, 255, 0.3);
  --dpz-scrollbarColor: rgba(255, 255, 255, 0.2);
  --dpz-scrollbarColorHover: rgba(255, 255, 255, 0.3);
  --dpz-scrollbarWidth: 5px;
  --dpz-scrollbarHeight: 5px;
  --dpz-scrollbarBorderRadius: 5px;
  --dpz-progressRailColor: rgba(255, 255, 255, 0.12);
  --dpz-railColor: rgba(255, 255, 255, 0.2);
  --dpz-popoverColor: rgb(72, 72, 78);
  --dpz-tableColor: rgb(24, 24, 28);
  --dpz-cardColor: rgb(24, 24, 28);
  --dpz-modalColor: rgb(44, 44, 50);
  --dpz-bodyColor: rgb(16, 16, 20);
  --dpz-tagColor: rgba(51, 51, 51, 1);
  --dpz-avatarColor: rgba(255, 255, 255, 0.18);
  --dpz-invertedColor: #000;
  --dpz-inputColor: rgba(255, 255, 255, 0.1);
  --dpz-codeColor: rgba(255, 255, 255, 0.12);
  --dpz-tabColor: rgba(255, 255, 255, 0.04);
  --dpz-actionColor: rgba(255, 255, 255, 0.06);
  --dpz-tableHeaderColor: rgba(255, 255, 255, 0.06);
  --dpz-hoverColor: rgba(255, 255, 255, 0.09);
  --dpz-tableColorHover: rgba(255, 255, 255, 0.06);
  --dpz-tableColorStriped: rgba(255, 255, 255, 0.05);
  --dpz-pressedColor: rgba(255, 255, 255, 0.05);
  --dpz-opacityDisabled: 0.38;
  --dpz-inputColorDisabled: rgba(255, 255, 255, 0.06);
  --dpz-buttonColor: rgba(255, 255, 255, .08);
  --dpz-buttonColorHover: rgba(255, 255, 255, .12);
  --dpz-buttonColorPressed: rgba(255, 255, 255, .08);
  --dpz-buttonColor2: rgba(255, 255, 255, .08);
  --dpz-buttonColor2Hover: rgba(255, 255, 255, .12);
  --dpz-buttonColor2Pressed: rgba(255, 255, 255, .08);
  --dpz-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .24), 0 3px 6px 0 rgba(0, 0, 0, .18), 0 5px 12px 4px rgba(0, 0, 0, .12);
  --dpz-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .24), 0 6px 12px 0 rgba(0, 0, 0, .16), 0 9px 18px 8px rgba(0, 0, 0, .10);
  --dpz-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);
}