[data-anime="true"] {
  position: relative;
}
[data-range="true"] {
  display: block;
  outline: 1px dashed #aaaaaa30!important;
}
[data-anime="true"] .anime-component-tab:after {
  position: absolute;
  right: -12px;
  top: -12px;

  z-index: 1;
  content: attr(data-serial);
  vertical-align: super;
  display:inline-block;
  width:23px;
  height:23px;
  font-size:15px;
  color:white;
  text-align:center;
  line-height:23px;
  border-radius:24px;
  background-color:#c8c9cc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  pointer-events: auto;
}
[data-anime="true"] .anime-component-tab:hover:after {
  cursor: pointer;
  animation: .8s .5s tada infinite;
}
[data-anime="true"]:hover {
  display: block;
  outline: 1px dashed #aaaaaa30!important;
}

[data-anime="true"][data-active="true"] .anime-component-tab:after { 
  background-color: pink; 
}

[data-anime="false"].anime-component-tab:after {
  content: unset;
}



/* AnimeComponent */
anime-component {
  position: relative;
  display: block;
  pointer-events: none;
}
.anime-component-content {
  pointer-events: auto;
}
.anime-component-evoke {
  display: block;
  outline: 1px dashed #aaaaaa30;
}
anime-component:after {
  position: absolute;
  right: -12px;
  top: -12px;
  content: attr(data-serial);
  vertical-align: super;
  color: white;
  background-color: #c8c9cc;
  border-radius: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  font-size: 15px;
  line-height: 0px;
  -webkit-border-radius: 24px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  pointer-events: auto;
}
anime-component:hover:after {
  cursor: pointer;
  animation: .8s .5s tada infinite;
}
anime-component:hover {
  outline: 1px dashed #aaaaaa30;
  border-radius: 3px;
}
anime-component[data-active="true"]:after { 
  background-color: pink;
}


anime-component p:empty::before {
  content: "在此输入内容";
  color: rgba(143, 143, 143, 0.64);
}