.anime-editor {
  anime:after {
    position: absolute;
    margin-left: -12px;
    margin-top: -12px;
    content: attr(data-serial);
    vertical-align: super;
    color: white;
    background-color: #c8c9cc;
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 23px;
    height: 23px;
    font-size: 15px;
    line-height: 0px;
    -webkit-border-radius: 24px;
    text-align: center;
    box-shadow:
      0 2px 4px rgba(0, 0, 0, 0.12),
      0 0 6px rgba(0, 0, 0, 0.04);
    pointer-events: auto;
  }
  anime:hover:after {
    cursor: pointer;
    animation: 0.8s 0.5s tada infinite;
  }
  [data-theme='dark-theme'] anime:hover {
    outline: 1px dashed #aaaaaa30;
    border-radius: 3px;
  }
  anime:hover {
    outline: 1px dashed #aaaaaa30;
    border-radius: 3px;
  }
  anime {
    pointer-events: none;
  }
  anime:active {
    pointer-events: none;
  }
  /* 放行图片上的点击事件 */
  anime img {
    pointer-events: all;
  }
  anime[data-active='true']:after {
    background-color: pink;
  }
  .anime-element-hidden anime {
    opacity: 0 !important;
  }
  .anime-badge-hidden anime:after {
    display: none;
    opacity: 0 !important;
  }
}
