.textbus-toolbar-font-size-inherit {
  opacity: .7;
}

@each $t in 12, 13, 14, 15, 16, 18, 20, 24, 36, 48 {
  .textbus-toolbar-font-size-#{$t} {
    line-height: 1.2;
    font-size: #{$t}px;
  }
}