.textbus-toolbar-line-height-inherit {
  opacity: .7;
}

@each $t in 1, 1.2, 1.4, 1.6, 1.8, 2, 3, 4 {
  .textbus-toolbar-line-height-#{str-replace($t + '', '.', '_')} {
    &:before {
      content: "";
      margin-right: 10px;
      margin-left: -10px;
      line-height: $t + em;
      width: 9px;
      height: $t + em;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3);
      border-width: 1px 0;
      display: inline-block;
      vertical-align: middle;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 4px, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, .3) 5px, rgba(0, 0, 0, 0) 5px);
    }
  }
}