// 由于所使用的UI框架 select 组件会将选中项的 class 同步到触发器中，这不是我们想要的效果，所以通过给菜单额外的class包裹来避免
.textbus-toolbar {
  &-h1 {
    font-size: 2em;
    font-weight: bold;
  }

  &-h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  &-h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  &-h4 {
    font-size: 1em;
    font-weight: bold;
  }

  &-h5 {
    font-size: .83em;
    font-weight: bold;
  }

  &-h6 {
    font-size: .67em;
    font-weight: bold;
  }
}