:root {
  --dpz-fontFamilyMono: v-mono, SFMono-Regular, Menlo, Consolas, Courier, monospace;
  --dpz-fontWeight: 400;
  --dpz-fontWeightStrong: 500;
  --dpz-cubicBezierEaseInOut: cubic-bezier(.4, 0, .2, 1);
  --dpz-cubicBezierEaseOut: cubic-bezier(0, 0, .2, 1);
  --dpz-cubicBezierEaseIn: cubic-bezier(.4, 0, 1, 1);
  --dpz-borderRadius: 3px;
  --dpz-borderRadiusSmall: 2px;
  --dpz-fontSize: 14px;
  --dpz-fontSizeMini: 12px;
  --dpz-fontSizeTiny: 12px;
  --dpz-fontSizeSmall: 14px;
  --dpz-fontSizeMedium: 14px;
  --dpz-fontSizeLarge: 15px;
  --dpz-fontSizeHuge: 16px;
  --dpz-lineHeight: 1.6;
  --dpz-heightMini: 16px;
  --dpz-heightTiny: 22px;
  --dpz-heightSmall: 28px;
  --dpz-heightMedium: 34px;
  --dpz-heightLarge: 40px;
  --dpz-heightHuge: 46px;
  --dpz-baseColor: #FFF;
  --dpz-primaryColor: #18a058;
  --dpz-primaryColorHover: #36ad6a;
  --dpz-primaryColorPressed: #0c7a43;
  --dpz-primaryColorSuppl: #36ad6a;
  --dpz-infoColor: #2080f0;
  --dpz-infoColorHover: #4098fc;
  --dpz-infoColorPressed: #1060c9;
  --dpz-infoColorSuppl: #4098fc;
  --dpz-successColor: #18a058;
  --dpz-successColorHover: #36ad6a;
  --dpz-successColorPressed: #0c7a43;
  --dpz-successColorSuppl: #36ad6a;
  --dpz-warningColor: #f0a020;
  --dpz-warningColorHover: #fcb040;
  --dpz-warningColorPressed: #c97c10;
  --dpz-warningColorSuppl: #fcb040;
  --dpz-errorColor: #d03050;
  --dpz-errorColorHover: #de576d;
  --dpz-errorColorPressed: #ab1f3f;
  --dpz-errorColorSuppl: #de576d;
  --dpz-textColorBase: #000;
  --dpz-textColor1: rgb(31, 34, 37);
  --dpz-textColor2: rgb(51, 54, 57);
  --dpz-textColor3: rgb(118, 124, 130);
  --dpz-textColorDisabled: rgba(194, 194, 194, 1);
  --dpz-placeholderColor: rgba(194, 194, 194, 1);
  --dpz-placeholderColorDisabled: rgba(209, 209, 209, 1);
  --dpz-iconColor: rgba(194, 194, 194, 1);
  --dpz-iconColorHover: rgba(146, 146, 146, 1);
  --dpz-iconColorPressed: rgba(175, 175, 175, 1);
  --dpz-iconColorDisabled: rgba(209, 209, 209, 1);
  --dpz-opacity1: 0.82;
  --dpz-opacity2: 0.72;
  --dpz-opacity3: 0.38;
  --dpz-opacity4: 0.24;
  --dpz-opacity5: 0.18;
  --dpz-dividerColor: rgb(239, 239, 245);
  --dpz-borderColor: rgb(224, 224, 230);
  --dpz-closeIconColor: rgba(102, 102, 102, 1);
  --dpz-closeIconColorHover: rgba(102, 102, 102, 1);
  --dpz-closeIconColorPressed: rgba(102, 102, 102, 1);
  --dpz-closeColorHover: rgba(0, 0, 0, .09);
  --dpz-closeColorPressed: rgba(0, 0, 0, .13);
  --dpz-clearColor: rgba(194, 194, 194, 1);
  --dpz-clearColorHover: rgba(146, 146, 146, 1);
  --dpz-clearColorPressed: rgba(175, 175, 175, 1);
  --dpz-scrollbarColor: rgba(0, 0, 0, 0.25);
  --dpz-scrollbarColorHover: rgba(0, 0, 0, 0.4);
  --dpz-scrollbarWidth: 5px;
  --dpz-scrollbarHeight: 5px;
  --dpz-scrollbarBorderRadius: 5px;
  --dpz-progressRailColor: rgba(235, 235, 235, 1);
  --dpz-railColor: rgb(219, 219, 223);
  --dpz-popoverColor: #fff;
  --dpz-tableColor: #fff;
  --dpz-cardColor: #fff;
  --dpz-modalColor: #fff;
  --dpz-bodyColor: #fff;
  --dpz-tagColor: #eee;
  --dpz-avatarColor: rgba(204, 204, 204, 1);
  --dpz-invertedColor: rgb(0, 20, 40);
  --dpz-inputColor: rgba(255, 255, 255, 1);
  --dpz-codeColor: rgb(244, 244, 248);
  --dpz-tabColor: rgb(247, 247, 250);
  --dpz-actionColor: rgb(250, 250, 252);
  --dpz-tableHeaderColor: rgb(250, 250, 252);
  --dpz-hoverColor: rgb(243, 243, 245);
  --dpz-tableColorHover: rgba(0, 0, 100, 0.03);
  --dpz-tableColorStriped: rgba(0, 0, 100, 0.02);
  --dpz-pressedColor: rgb(237, 237, 239);
  --dpz-opacityDisabled: 0.5;
  --dpz-inputColorDisabled: rgb(250, 250, 252);
  --dpz-buttonColor: rgba(46, 51, 56, .05);
  --dpz-buttonColorHover: rgba(46, 51, 56, .09);
  --dpz-buttonColorPressed: rgba(46, 51, 56, .13);
  --dpz-buttonColor2: rgba(46, 51, 56, .05);
  --dpz-buttonColor2Hover: rgba(46, 51, 56, .09);
  --dpz-buttonColor2Pressed: rgba(46, 51, 56, .13);
  --dpz-boxShadow1: 0 1px 2px -2px rgba(0, 0, 0, .08), 0 3px 6px 0 rgba(0, 0, 0, .06), 0 5px 12px 4px rgba(0, 0, 0, .04);
  --dpz-boxShadow2: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
  --dpz-boxShadow3: 0 6px 16px -9px rgba(0, 0, 0, .08), 0 9px 28px 0 rgba(0, 0, 0, .05), 0 12px 48px 16px rgba(0, 0, 0, .03);


  --dpz-editor-bgColor: #fafafa;
  --dpz-editor-pgColor: #fff;
  --dpz-editor-color: #333;
}