.container {
  button {
    color: #000000;
    background-color: #ffffff;
  }
}

[data-theme="light"] {
  color: #000000;
  background-color: #cfcfcf!important;
}

[data-theme="dark"] {
  color: #000000;
  background-color: #333!important;
}